@media (max-width: 768px) {
    /* navbar starts here */
    .navbar-header{
        flex-direction: column;
        align-items: center;
    }
    .navbar {
        display: flex;

    }
    .navbar-logo-image{
        width: 60px;
        height: 60px;
    }
    .navbar-shop-finder{
        /* margin-right: 100px;
        width: 160px;
        height: 60px; */
        display: none;
    }
/* 
    .navbar-link1, .navbar-link2, .navbar-link3, .navbar-link4, .navbar-link5 {
        margin-right: 0;
        margin-bottom: 10px;
    }
   .navbar-link6{
    display: none;
   } */

   /* navbar ends here */


   /* hero section starts here */
   .hero-first-section {
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
  }
    /* .hero{
        height: 400px;
    } */
    .hero-first-section-text1 {
        font-size: 22px;
        margin-top: -120px;
        margin-left: -30px;
    }
    .hero-first-section-text2 {
        font-size: 18px;
        margin-bottom: -30px;
        margin-left: -30px;
    }
    .hero-button{
        font-size: 20px;
        margin-left: -30px;
    }





    .hero-slideshow-container {
        display: block;
      }
    
      .hero-mySlides {
        display: block;
      }
    
      .hero-image1 {
        height: auto;
      }
    
      .hero-hero-first-section-text {
        top: 5;
        left: initial;
        transform: none;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0;
        border-radius: 0;
        box-shadow:  0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: -85px;
      }
    
      .hero-hero-first-section-text1 {
        font-size: 36px;
      }
    
      .hero-hero-first-section-text2 {
        font-size: 18px;
        padding-top: 10px;
      }
    
      .hero-hero-button {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 10px;
      }
    
      .hero-news-image1, .hero-news-image2{
          height: 120px;
      }
      .hero-prev, .hero-next{
        /* display: none; */
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.5);
      }
    /* hero section ends here */


    /* landing page starts here  */
    .landing-part2{
        height: 200px;
    }
    .landing-part3{
        display: flex;
        flex-direction: column;
    }
    .landing-overlay-text{
        font-size: 30px;
    }
    .landing-image-container:hover{
        transform: none;
    }
    .landing-img1, .landing-img2{
        height: 300px;
    }
    .landing-animated-tire{
        display: none;
    }
    /* landing page ends here */

}




/* footer section */
@media screen and (max-width: 768px) {
    .footer {
      display: grid; 
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
    .footer-first{
        grid-column: 1/3;
    }
  .footer-fifth{
    grid-row: 3/4;
    grid-column: -1/-2;

  }
    .footer-second,
    .footer-third,
    .footer-fourth,
    .footer-fifth {
      margin-top: 10px;
    }
  
    .footer-third{
        margin-top: -5px;
    }
    .footer-first{
        margin-top: -20px;
    }
    .footer-social-icons{
        margin-top: -20px;
    }
    .footer-copyright {
      text-align: center;
      margin-top: -20px;
    }
  
    .footer-acc a {
      color: #ff6600;
      text-decoration: none;
      transition: color 0.3s; 
    }
  
    .footer-acc a:hover {
      color: darkblue; 
    }
    .footer-account, .footer-contact{
        font-size: 22px;
    }
    .footer-acc{
        font-size: 16px;
    }
    .footer-acc{
        margin-top: -15px;
    }
    .footer-contact, .footer-address, .footer-add, .footer-mobile, .footer-hello{
        margin-top: -15px;
    }
  }
    
/* footer ends here */


/* testimonial section */
@media (max-width: 768px) {
    .testimonial-container {
      grid-template-columns: 1fr; /* Display testimonials in a single column on small screens */
    }
  }
/* testimonial section ends here */


/* mobile toggle for responsive navbar */
@media (max-width: 35em){
    #primarynav{
        gap: 2em;
        
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        
        padding: min(30vh, 10rem) 2rem;
        flex-direction: column;
  
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        
    }
    .navbar-link1, .navbar-link2, .navbar-link3, .navbar-link4, .navbar-link5, .navbar-link6{
        color: #ff6600;
        font-size: 20px;
        text-shadow: none;
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: inherit;
        width: 2rem;
        border: 0;
        aspect-ratio: 1 / 1;
        top: 70pxpx;
        right: 2rem;
        color: #ff6600;
        font-size: 40px;
  
  
    }
  
  }
  @media (min-width: 35em) and (max-width: 55em) {
    #primarynav a > span [aria-hidden]{
        background: red;
    }
  }
  @media (min-width: 35em){
    .primarynav{
        gap: 3rem;
        padding-block: 2rem;
        padding-inline: clamp(3rem, 5vw, 10rem);
    }
  }

  /* mobile toggle ends here */